<nav class="navbar-fixed-top">
    <div id="div3" class="bg-light text-left">
        VazeGymkhana
        <img src="assets/vazegymkhana2.jpg" class="img-responsive img-fluid float-left rounded" width="70" height="70"
            style="margin:0% 0% 0% 30%; padding-top: 1%; ">
    </div>
    <ul class="p-0">
        <div id="div2" class="d-flex justify-content-around text-uppercase">
            <button class="btn btn-outline-success" routerLink="/home" routerLinkActive="active">HOME</button>
            <button class="btn  btn-outline-success" routerLink="/register" routerLinkActive="active">REGISTER</button>
            <button class="btn  btn-outline-success" routerLink="/login" routerLinkActive="active">LOGIN</button>
            <button class="btn  btn-outline-success" routerLink="/status" routerLinkActive="active">STATUS</button>
            <button class="btn  btn-outline-success" routerLink="/inventory" routerLinkActive="active">INVENTORY</button>
            <button class="btn  btn-outline-success" routerLink="/contact" routerLinkActive="active">CONTACT US</button>
            <button class="btn  btn-outline-success" routerLink="/timetable" routerLinkActive="active">TIMETABLE</button>
            <button class="btn  btn-outline-success" routerLink="/event" routerLinkActive="active">EVENT</button>
            <button class="btn  btn-outline-success" routerLink="/history" routerLinkActive="active">HISTORY</button>
            <button class="btn  btn-outline-success" routerLink="/feedback" routerLinkActive="active">FEEDBACK</button>
        </div>
    </ul>
</nav>