<div class="container-fluid bg-light w-50 m-auto text-center text-uppercase ">
    <div>
        <h1 class="text-warning"> Address:</h1>
        <p class="font-weight-bold">V.Z. Vaze kelkar college, mithabai, Mulund East</p>
    </div>

    <div>
        <h1 class="text-warning"> contact no:</h1>
        <p class="font-weight-bold">9858585856</p>
    </div>

    <div>
        <h1 class="text-warning"> Email:</h1>
        <p class="font-weight-bold">vaze@gmail.com</p>
    </div>

    <div>
        <h1 class="text-warning"> Fax:</h1>
        <p class="font-weight-bold">989833332521</p>
    </div>

</div>