<div>
    <div class="text-center">
        <img src="assets/vazegymkhana.jpg" class="img-responsive p-3 rounded"
            style="margin:0% 4% 0% 0%; border: 5px groove greenyellow;">
        <img src="assets/vazegymkhana1.jpg" class="img-responsive p-3 rounded"
            style="margin:0% 4% 0% 0% ;border: 5px groove greenyellow;">
        <img src="assets/vazegymkhana3.jpg" class="img-responsive m-3 p-3  rounded"
            style="margin:0% 4% 0% 0%; border: 5px groove greenyellow;">

        <h2 class="text-warning">
            Games
        </h2>
        <h5 class="list-group-item-info  w-25 m-auto">
            <li> Cricket</li>
            <li> Basket Ball</li>
            <li> Football</li>
            <li> Kho-Kho</li>
            <li> Carrom</li>
            <li> Chess</li>
            <li> Table tennis</li>
            <li> Badminton</li>
            <li> Volleyball</li>
            <li> Kabaddi</li>

        </h5>
        <br>
        <h2 class="text-warning">
            Gymkahana in-charge
        </h2>
        <h5 class="list-group-item-info w-25 m-auto">
            <li>prof. b.k. giri</li>
            <li>prof. minal v. dhas</li>
        </h5>
        <br>
        <h2 class="text-warning">
            Gymkahana chairman
        </h2>
        <h5 class="list-group-item-info w-25 m-auto">
            <li>ca.anil.naik</li>
        </h5>
        <br>
        <h5 class="p-3 mb-2 bg-dark text-info w-25 m-auto">
            Contact no: 9885856789 <br><br>
            Gymkhana Rating: 4 star
        </h5>
    </div>
</div>